*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pesok.jpg);
    background-attachment:fixed;
    background-size:contain;
}
.header{
    width: 800px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: rgb(247,223,30);
}
.header .photo{
    float: left;
    width: 300px;
    margin-right: 50px;
}
.header .name{
    margin-top: 50px;
}
.h1{
    margin-top: 50px;
}
.main_info{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(244,224,173);
}
.contacts ul{
    list-style: none;
}
.bold{
    font-weight: bold;
        
}
.contacts, .about, .eng, .education, .skills, .experience, .code {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.skills{
    box-sizing: border-box;
    
}
.code_example{
    background-color: rgba(236, 167, 40, 0.738);
    width: 75%;
}
.footer{
    margin: 0 auto;
    width: 800px;
    background-color: rgb(255,213,65);
    overflow: hidden;
}
.logo{
    width: 100px;
    float: left;
}
.head{
    margin-bottom: 10px;
    text-decoration: underline;
}

